@model List<MVC_School.Models.Department>

<h1>Departments</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Department Name</th>
            <th>Manager</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Name</td>
                <td>@department.MgrName</td>
                <td>
                    <a href="@Url.Action("ShowDetails", "Department", new { id = department.Id })">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Add", "Department")" class="btn btn-success">Add New Department</a>
